<p id="notice"><%= notice %></p>

<p>
  <strong><%= translate_attr(:profile, :user) %>:</strong>
  <%= @user.profile.name %>
</p>

<p>
  <strong><%= translate_attr(:name, :user) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= translate_attr(:email, :user) %>:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
