<section >
    <hr class="doted" />

    <table width="100%" style="font-size: 13pt;">
        <tr>
            <td width="50%"><b>Cidade:</b> <%= @event.city.name %></td>
            <td width="50%"><b>Data:</b> <%= @event.duration_time %></td>
        </tr>
        <tr>
            <td><b>Intervalo p/ lançamento das ocorrências:</b> A cada <%= @event.occurrence_interval %> hora(s)</td>
            <td><b>Quantidade de Turnos:</b> <%= @event.work_shift_amount %></td>
        </tr>
        <tr>
            <td><b>Posto de Atendimento:</b> <%= @service_station.acronym rescue "Todos" %></td>
            <% unless params[:work_shift].empty? %>
            <td><b>Turno:</b> <%= params[:work_shift] %></td>
            <% end %>
        </tr>
    </table>

    <hr class="doted" />
    <br />
</section>

<section class="p-2">
    <table width="100%" class="table-bordered" style="background: white" >
        <tr>
            <th width="15%">Natureza/Horário</th>

            <% @selected_intervals.each do |interval| %>
                <th class="text-center"><%= get_hour_of_interval(interval) %></th>
            <%end %>
            <th class="text-center">Total</th>
        </tr>
            
        <% @occurrence_nature_with_intervals.each_with_index do |occurrence, index| %>
            <% if occurrence.occurrence_type_name != @occurrence_nature_with_intervals[index-1].occurrence_type_name %>
                <tr class="table-primary">
                    <td colspan="100%" class="text-center"><b><%= occurrence.occurrence_type_name %></b></td>
                </tr>
            <% end %>

            <tr class="">
                <td><%= occurrence.occurrence_nature %> </td>

                <%= generate_columns_of_occurrence_nature_amount_by_interval(occurrence, @selected_intervals) %>
            </tr>
        <%end %>
    </table>
</section>

<br /><br />