<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Relatório de Ocorrências</title>
    <%= wicked_pdf_stylesheet_link_tag "occurrence_report_pdf" %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body style="">

    <section class="header">
        <table style="width: 100%">
            <tr>
                <td>
                    <%= wicked_pdf_image_tag("logo_cbmpe.png", style: "width: 120px") %>
                </td>

                <td>
                    <h3 class="font-bold">
                        SECRETARIA DE DEFESA SOCIAL<br/>
                        CORPO DE BOMBEIROS MILITAR DE PERNAMBUCO
                    </h3>
                    
                    <hr />

                    <h4><%= "#{@event.management.acronym} - #{@event.management.name}" %></h4>
                </td>
            </tr>
        </table>    
        <br />       
    </section>


    <section>
        <h1 style="text-align: center">
            <%= "#{@event.description}/#{@event.start_time.strftime("%Y")}" %>
        </h1>
    </section>

    <%= render 'table_occurrence_report.html.erb', {}  %>

</body>
</html>
