<!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">

      <a href="/" class="navbar-brand">
        <%= image_tag("logo_cbmpe.png", style: "width: 40px") %>
        <span class="brand-text font-weight-light"><b>SOGE</b></span>
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse order-3" id="navbarCollapse">

        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          
          <% make_menu.each do |menu|%>
            <% if menu[:children].empty? %>
              <% if can?(menu[:action].to_sym, menu[:model].constantize)  %>
                <li class="nav-item">
                  <a href="<%= url_for(menu[:model].constantize) %>" class="nav-link"><%= translate_module(menu[:model]) %></a>
                </li>
              <% end %>
            <% elsif has_items?(menu[:children]) %>
                <li class="nav-item dropdown <%=  "active" if treeview_active?(menu) == "menu-open" %>">
                  <a id="dropdownSubMenu<%= menu[:model] %>" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                    <%= menu[:model] %>
                  </a>
                  <ul aria-labelledby="dropdownSubMenu<%= menu[:model] %>" class="dropdown-menu border-0 shadow">
                    <% menu[:children].each do |item|%>
                      <% if can?(item[:action].to_sym, item[:model].constantize)  %>
                        <li>
                          <a href="<%= url_for(item[:model].constantize) %>" class="dropdown-item <%= navlink_active?(item) %>">
                            <%= translate_module(item[:model]) %>
                          </a>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
      </div>

      <!-- Right navbar links -->
      <% if user_signed_in? %>
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item"><p class="nav-link mb-0"><small><%= "#{current_user.name} (#{current_user.profile.name})" %></small></p></li>
        <li class="nav-item">
            <a rel="nofollow" class="nav-link" href="<%= destroy_user_session_url %>">
              Sair
            </a>
        </li>
      </ul>
      <% end %>
    </div>
  </nav>
  <!-- /.navbar -->