<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="" alt="" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Base</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="" class="img-circle elevation-2">
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_user.name %></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <% make_menu.each do |menu|%>
            <% if menu[:children].empty? %>
              <% if can?(menu[:action].to_sym, menu[:model].constantize)  %>
                <li class="nav-item">
                  <a href="<%= url_for(menu[:model].constantize) %>" class="nav-link <%= navlink_active?(menu) %>">
                    <i class="nav-icon <%= menu[:icon] %>"></i> <span><%= translate_module(menu[:model]) %></span>
                  </a>
                </li>
              <% end %>
            <% else %>
              <li class="nav-item has-treeview <%= treeview_active?(menu) %> ">
                <a href="#" class="nav-link">
                  <i class="nav-icon <%= menu[:icon] %>"></i>
                  <p>
                    <%= menu[:model] %>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview ">
                  <% menu[:children].each do |item|%>
                    <% if can?(item[:action].to_sym, item[:model].constantize)  %>
                      <li class="nav-item">
                        <a href="<%= url_for(item[:model].constantize) %>" class="nav-link <%= navlink_active?(item) %>">
                          <i class="nav-icon <%= item[:icon] %>"></i>
                          <p><%= translate_module(item[:model]) %></p>
                        </a>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>